@import "variables"
.home
  .main-content
    position absolute
    top 0
    left 520px
    left 0
    right 0
    bottom 0
    padding 0 0 0 340px
    box-sizing border-box
    
    @media (min-width:768px) and (max-width:1024px)
      padding 0 0 0 200px

    .home-slider
      max-width initial !important
      height 100%
      overflow hidden

      > div
        height 100%

      .flexslider
        margin 0

      .flexslider,
      .flexslider ul,
      .flexslider ul li,
      .flexslider ul li img
        height inherit

      .flexslider
        ul li img
          position absolute
          width auto
          height auto
          min-width 100%
          min-height 100%
          left 50%
          transform translateX(-50%)

        ol.flex-control-nav
          bottom 0
          z-index 5
          padding 45px
          box-sizing border-box
          width auto
          left 50%
          transform translateX(-50%)

          li
            float left

            a
              width 11px
              height 11px
              border 2px solid $bronze
              background transparent
              margin 0 10px
              opacity .5

              &.flex-active
                background $bronze
                height 15px
                width 15px
                border none
    
    #intro-canvas
      z-index 10000000 !important
      position fixed
      top 0
      left 0
      width 100%
      height 100%
      height 100vh
      background $blue
      -webkit-transition all .75s ease-in-out
      -moz-transition all .75s ease-in-out
      -o-transition all .75s ease-in-out
      -ms-transition all .75s ease-in-out
      transition all .75s ease-in-out
      
      #intro-message, #intro-logo
        position absolute
        top 50%
        left 50%
        -webkit-transform translate(-50%, -50%)
        -moz-transform translate(-50%, -50%)
        transform translate(-50%, -50%)
        opacity 0
        color $bronze
        -webkit-transition all .2s ease-in-out
        -moz-transition all .2s ease-in-out
        -o-transition all .2s ease-in-out
        -ms-transition all .2s ease-in-out
        transition all .2s ease-in-out
        
      #intro-message
        font-family "goldenbook", serif
        width 100%
        
        .dot
          margin 20px auto
          width 5px
          height 5px
          background $bronze
          -webkit-transform rotate(45deg)
          -moz-transform rotate(45deg)
          transform rotate(45deg)

        h1
          margin 0 auto
          font-size 2rem
          
          .hear, .taste, .see, .experience, .live, .discover
            -webkit-transition all .2s ease-in-out
            -moz-transition all .2s ease-in-out
            -o-transition all .2s ease-in-out
            -ms-transition all .2s ease-in-out
            transition all .2s ease-in-out
          
          .taste, .see, .experience, .live, .discover
            display none
      
      #intro-logo
        height 200px
        width auto
        
        img
          height 100%
          width auto  
    
    .minimize
      width 340px !important
    
    .fade-in
      opacity 1 !important
    
    .fade-out
      opacity 0 !important
    
    .destroy
      display none
