@mixin horizontal-center {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
@mixin center-center {
  left: 50%;
  top: 50%;
  margin: auto;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@mixin vertical-center {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.home .main-content {
  position: absolute;
  top: 0;
  left: 520px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 0 0 340px;
  box-sizing: border-box;
}
@media (min-width: 768px) and (max-width: 1224px) {
  .home .main-content {
    padding: 0 0 0 200px;
  }

/*.slide-34 {
    transform: translateX(-38%) translateY(-5%)!important;
}*/


}

@media (max-width:768px) {
	#intro-message {
      margin-top:-12%;
      zoom:0.5;
	}

	
	/*first*/
	.slide-185 {
/*      transform: translateX(-39%) translateY(-4%)!important;*/

	 }
	
  .slide-34 {
/*    transform: translateX(-44%) translateY(-4%)!important;
    zoom: 0.9;*/

  }	
  .slide-36 {
/*	transform: translateX(-40%) translateY(0%)!important;*/
  }
/*	.slide-543 {
		zoom: 0.5
	}*/

}
/*.slide-36 {
	zoom: 0.4;
}*/
.home .main-content .home-slider {
  max-width: initial !important;
  height: 100%;
  overflow: hidden;
}
.home .main-content .home-slider > div {
  height: 100%;
}
.home .main-content .home-slider .flexslider {
  margin: 0;
}
.home .main-content .home-slider .flexslider,
.home .main-content .home-slider .flexslider ul,
.home .main-content .home-slider .flexslider ul li,
.home .main-content .home-slider .flexslider ul li img {
  height: inherit;
}
.home .main-content .home-slider .flexslider ul li img {
  position: absolute;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.home .main-content .home-slider .flexslider ol.flex-control-nav {
  bottom: 0;
  z-index: 5;
  padding: 45px;
  box-sizing: border-box;
  width: auto;
  left: 50%;
  transform: translateX(-50%);
}
.home .main-content .home-slider .flexslider ol.flex-control-nav li {
  float: left;
}
.home .main-content .home-slider .flexslider ol.flex-control-nav li a {
  width: 11px;
  height: 11px;
  border: 2px solid #92624b;
  background: transparent;
  margin: 0 10px;
  opacity: 0.5;
}
.home .main-content .home-slider .flexslider ol.flex-control-nav li a.flex-active {
  background: #92624b;
  height: 15px;
  width: 15px;
  border: none;
}
.home .main-content #intro-canvas {
  z-index: 10000000 !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 100vh;
  background: #00253c;
  -webkit-transition: all 0.75s ease-in-out;
  -moz-transition: all 0.75s ease-in-out;
  -o-transition: all 0.75s ease-in-out;
  -ms-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 1.5s ease-in-out;
  -moz-transition: opacity 1.5s ease-in-out;
  -ms-transition: opacity 1.5s ease-in-out;
  -o-transition: opacity 1.5s ease-in-out;
}
.mob-hide {
  opacity: 0!important;
}
.home .main-content #intro-canvas #intro-message,
.home .main-content #intro-canvas #intro-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  color: #92624b;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.home .main-content #intro-canvas #intro-message {
  font-family: "goldenbook", serif;
/*  width: 100%;*/
	width:562px;
}
.home .main-content #intro-canvas #intro-message .dot {
/*  margin: 20px auto;*/
  margin: 30px 271px;
  width: 5px;
  height: 5px;
  background: #92624b;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
.home .main-content #intro-canvas #intro-message h1 {
  margin: 0 auto;
  font-size: 2rem;
}
/*.home .main-content #intro-canvas #intro-message h1 .hear,*/
/*.home .main-content #intro-canvas #intro-message h1 .taste,*/
/*.home .main-content #intro-canvas #intro-message h1 .see,*/
/*.home .main-content #intro-canvas #intro-message h1 .experience,*/
/*.home .main-content #intro-canvas #intro-message h1 .live,*/
/*.home .main-content #intro-canvas #intro-message h1 .discover {*/
  /*-webkit-transition: all 0.2s ease-in-out;*/
  /*-moz-transition: all 0.2s ease-in-out;*/
  /*-o-transition: all 0.2s ease-in-out;*/
  /*-ms-transition: all 0.2s ease-in-out;*/
  /*transition: all 0.2s ease-in-out;*/
/*}*/
.home .main-content #intro-canvas #intro-message h1 .taste,
.home .main-content #intro-canvas #intro-message h1 .see,
.home .main-content #intro-canvas #intro-message h1 .experience,
.home .main-content #intro-canvas #intro-message h1 .live,
.home .main-content #intro-canvas #intro-message h1 .discover {
  display: none;
}
.home .main-content #intro-canvas #intro-logo {
  height: 200px;
  width: auto;
}
.home .main-content #intro-canvas #intro-logo img {
  height: 100%;
  width: auto;
}
.home .main-content .minimize {

  width: 340px !important;
}
.slow {
  -webkit-transition: all 1.5s ease-in-out!important;
  -moz-transition: all 1.5s ease-in-out!important;
  -o-transition: all 1.5s ease-in-out!important;
  -ms-transition: all 1.5s ease-in-out!important;
  transition: all 1.5s ease-in-out!important
}
.home .main-content .fade-in {
  opacity: 1 !important;
}
.home .main-content .fade-out {
  opacity: 0 !important;
}
.home .main-content .destroy {
  display: none;
}
