@import "variables"

// global
body
	&.no-scroll
		overflow hidden
		
	.module
		z-index 1000000 !important
		position fixed
		top -100%
		left 0
		width 100%
		height 100%
		height 100vh
		background $cream
		-webkit-transition top .2s ease-in-out
		-moz-transition top .2s ease-in-out
		-ms-transition top .2s ease-in-out
		-o-transition top .2s ease-in-out
		transition top .2s ease-in-out
		
		&.visible
			top 0
		
		.close
			position absolute
			top 0
			right 0
			height 35px
			width 35px
			background $blue
			border none
			z-index 5
			-webkit-transition all .2s ease-in-out
			-moz-transition all .2s ease-in-out
			-o-transition all .2s ease-in-out
			-ms-transition all .2s ease-in-out
			transition all .2s ease-in-out
			
			&:hover
				opacity .9
			
			&:focus
				outline none
		
			img
				width 100%
				height auto
	
		&#lightbox
			img
				position absolute
				top 50%
				left 50%
				// check for correct vendor prefix
				-webkit-transform translate(-50%, -50%)
				-moz-transform translate(-50%, -50%)
				transform translate(-50%, -50%)
				width auto
				height auto
				max-width 75%
				max-height 75%
				max-height 75vh

// interior specs
#interior-specs		
	.module-content
		position relative
		
		h1
			font-family 'goldenbook'
			text-transform uppercase
			text-align center
			font-size 1.4em
			letter-spacing 6px
			display inline-block
			width 100%
			margin 0 auto
			font-weight 100
		
		.break
			display block
			margin 20px auto
		
		.interior-specs-feature
			display none
			position absolute
			top 0
			left 0
			width 50%
			height 100%
			height 100vh
			overflow hidden
			
			&.active
				display block
			
			img
				width auto
				height auto
				min-width 100%
				min-height 100%
				left:50%;
				-webkit-transform:translateX(-50%);
				-moz-transform: translateX(-50%);
				-ms-transform: translateX(-50%);
				-o-transform: translateX(-50%);
				transform: translateX(-50%);
		
		.interior-swatches
			position absolute
			top 0
			right 0
			width 50%
			height 100%
			height 100vh
				
			.vertical-center-wrap
				position absolute
				top 50%
				left 50%
				-webkit-transform translate(-50%, -50%)
				-moz-transform translate(-50%, -50%)
				transform translate(-50%, -50%)
				width 100%
				text-align center
				
				.filter
					margin 0 20px
					background none
					border none
					color $grey
					font-family 'Sans', sans-serif
					letter-spacing 1.8px
					-webkit-transition all .2s ease-in-out
					-moz-transition all .2s ease-in-out
					-o-transition all .2s ease-in-out
					-ms-transition all .2s ease-in-out
					transition all .2s ease-in-out
					
					&.active, &:hover
						color $blue
					
					&:focus
						outline none
				
				.interior-specs-swatch
					display none
					margin-top 20px
				
					&.active
						display block
					
					img
						width 90%
						max-width 800px

// floor plans
#floor-plans
	overflow scroll
	
	.module-content
		max-width 1180px
		margin auto
		
		.selector
			margin 100px 0
			padding 0

			table
				width 95%
				max-width 600px
				max-height 550px
				margin auto
				text-align center
				overflow scroll
				
				thead
					font-family 'sans', sans-serif
					font-size .9em
					letter-spacing 1.2px
					
					th
						padding 15px 0
						border-bottom 1px solid $blue
				
				tbody
					font-family 'goldenbook', serif
					
					tr
						cursor pointer
						-webkit-transition all .2s ease-in-out
						-moz-transition all .2s ease-in-out
						-o-transition all .2s ease-in-out
						-ms-transition all .2s ease-in-out
						transition all .2s ease-in-out
						
						&.active, &:hover
							background $blue
							color $cream
							
						td
							padding 15px 0
							border-bottom 1px solid $blue
		
		.floor-plans
			width 95%
			max-width 760px
			margin auto
			border-top 1px solid $grey
			padding 100px 0
			
			.floor-plan
				display none
				text-align center
				font-family 'goldenbook'
				
				h1
					font-family 'goldenbook'
					text-transform uppercase
					text-align center
					font-size 1.4em
					letter-spacing 6px
					display inline-block
					width 100%
					margin 0 auto
					font-weight 100
				
				p
					font-size .95em

		.right, .left
			width 50%
			float left
			height 550px
			display inline-block
			overflow-y scroll
	
	.building-image-container
		margin-top 115px

	.floorplan-image
		background-position center center
		background-repeat no-repeat
		background-size contain
		height 550px
		width 100%
		display none

		&.initial
			display block
			
	
#views-modal

	iframe
		position absolute
		top 0
		bottom 0
		left 0
		right 0
		height 100%
		width 100%
		border none

	.close
		height 35px
		width 35px
		padding 0

	.close-icon
		height 23px
		width 23px
		top 6.5px
		left 6.5px
		position absolute

		