@mixin horizontal-center {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
@mixin center-center {
  left: 50%;
  top: 50%;
  margin: auto;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@mixin vertical-center {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
body.no-scroll {
  overflow: hidden;
}
body .module {
  z-index: 1000000 !important;
  position: fixed;
/*  top: -100%;*/
  top: -111%;
  left: 0;
  width: 100%;
  height: 100%;
  /*height: 100vh;*/
  background: #f4eee6;
  -webkit-transition: top 0.2s ease-in-out;
  -moz-transition: top 0.2s ease-in-out;
  -ms-transition: top 0.2s ease-in-out;
  -o-transition: top 0.2s ease-in-out;
  transition: top 0.2s ease-in-out;
}


body .module.visible {
  top: 0;
}
body .module .close {
  position: absolute;
  top: 0;
  right: 0;
  height: 35px;
  width: 35px;
  background: #00253c url('http://thewebroom.net/r/wp-content/themes/rainey/img/icons/close-cream.png') no-repeat center center;
  background-size:68%;
  border: none;
  z-index: 5;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
body .module .close:hover {
  opacity: 0.9;
}
body .module .close:focus {
  outline: none;
}
body .module .close img {
  width: 100%;
  height: auto;
}
body .module#lightbox img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  max-width: 75%;
  max-height: 75%;
  max-height: 75vh;
}
#interior-specs .module-content {
  position: relative;
}
#interior-specs .module-content h1 {
  font-family: 'goldenbook';
  text-transform: uppercase;
  text-align: center;
  font-size: 1.4em;
  letter-spacing: 6px;
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  font-weight: 100;
}
#interior-specs .module-content .break {
  display: block;
  margin: 20px auto;
}
#interior-specs .module-content .interior-specs-feature {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-position: 68%;
}
#interior-specs .module-content .interior-specs-feature.active {
  display: block;
}
#interior-specs .module-content .interior-specs-feature img {
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
#interior-specs .module-content .interior-swatches {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  height: 100vh;
}
#interior-specs .module-content .interior-swatches .vertical-center-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
#interior-specs .module-content .interior-swatches .vertical-center-wrap .filter {
  margin: 0 20px;
  background: none;
  border: none;
  color: #929394;
  font-family: 'Sans', sans-serif;
  letter-spacing: 1.8px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#interior-specs .module-content .interior-swatches .vertical-center-wrap .filter.active,
#interior-specs .module-content .interior-swatches .vertical-center-wrap .filter:hover {
  color: #00253c;
}
#interior-specs .module-content .interior-swatches .vertical-center-wrap .filter:focus {
  outline: none;
}
#interior-specs .module-content .interior-swatches .vertical-center-wrap .interior-specs-swatch {
  display: none;
  margin-top: 20px;
}
#interior-specs .module-content .interior-swatches .vertical-center-wrap .interior-specs-swatch.active {
  display: block;
}
#interior-specs .module-content .interior-swatches .vertical-center-wrap .interior-specs-swatch img {
  width: 90%;
  max-width: 800px;
}
#floor-plans {
  overflow: scroll;
}
#floor-plans .module-content {
  max-width: 1180px;
  margin: auto;
}
#floor-plans .module-content .selector table {
  width: 95%;
  max-width: 600px;
  max-height: 550px;
  margin: auto;
  text-align: center;
  overflow: scroll;
  color:#00253C;
}
#floor-plans .module-content .selector table thead {
  font-family: 'sans', sans-serif;
  font-size: 14px;
  letter-spacing: 1.2px;
}
#floor-plans .module-content .selector table thead th {
  padding: 15px 0;
  border-bottom: 1px solid #00253c;
}
#floor-plans .module-content .selector table tbody {
  font-family: 'goldenbook', serif;
}
#floor-plans .module-content .selector table tbody tr {
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#floor-plans .module-content .selector table tbody tr.active,
#floor-plans .module-content .selector table tbody tr:hover {
  background: #00253c;
  color: #f4eee6;
}
#floor-plans .module-content .selector table tbody tr td {
  padding: 15px 0;
  border-bottom: 1px solid #00253c;
  font-size: 14px;
}
#floor-plans .module-content .floor-plans .floor-plan {
  display: none;
  text-align: center;
  font-family: 'goldenbook';
}
#floor-plans .module-content .floor-plans .floor-plan h1 {
  color:#00253C;
  font-family: 'goldenbook';
  text-transform: uppercase;
  text-align: center;
  /*font-size: 1.4em;*/
  /*letter-spacing: 6px;*/
  font-size: 2em;
  letter-spacing: 1px;
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  font-weight: 100;
}
#floor-plans .module-content .floor-plans .floor-plan p {
  font-size: 14px;
  text-transform: uppercase;
  color:#00253C;
}
#floor-plans .module-content .left {
  width: 40%;
  float: left;
  height: 550px;
  display: inline-block;
  overflow-y: scroll;
}
#floor-plans .module-content .right{
  width: 60%;
  float: left;
  height: 550px;
  display: inline-block;
  overflow-y: scroll;
}
#floor-plans .floorplan-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 550px;
  width: 100%;
  display: none;
}
#floor-plans .floorplan-image.initial {
  display: block;
}
#views-modal iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border: none;
}
#views-modal .close {
  height: 60px;
  width: 60px;
  padding: 0;
}
#views-modal .close-icon {
  display: none;
}

@media (max-width: 1024px) {
	#interior-specs .module-content {
		height:100%;	
	}	
	#interior-specs .module-content .interior-specs-feature {
		top:50%;
		width:100%;
		height:50vh;
	}
	
	#interior-specs .module-content .interior-swatches {
		width:100%;
		height:50vh;
		top:12%;
		zoom:0.6;
	}
	
	#floor-plans .module-content .right, #floor-plans .module-content .left {
	}
	
	.floorPlanImage {
		width:100%;
	}
	
	.floor-plans {
		border-top: none!important;
		padding: 60px 0!important;
	}

  #interior-specs .module-content .interior-swatches .vertical-center-wrap .filter {
    margin:0px auto!important;
  }
	
	
	
}


.floorPlanImage {
	width:100%;
}

