$cream = #f4eee6
$transparent-cream = rgba(244,238,230,.98)
$blue = #00253c
$bronze = #92624b
$grey = #929394

@mixin horizontal-center{
	left:50%;
	-webkit-transform:translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
@mixin center-center{
	left:50%; top:50%;
	margin:auto;
	-webkit-transform:translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
@mixin vertical-center {
  	top: 50%;
	-webkit-transform:translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}