// Base

@import "base/_variables.scss";
@import "base/_mixins.scss";
@import "base/_fonts.scss";
@import "base/_structure.scss";
@import "base/_grid.scss";

// Components

@import "components/_flexslider.scss";
@import "components/_header.scss";
@import "components/_footer.scss";

// Pages

@import "pages/_residences.scss";
@import "pages/_floor_plans.scss";
@import "pages/_inquire.scss";
@import "pages/_views.scss";
@import "pages/_news.scss";

* {
    box-sizing: border-box;
}

/*==================================
HELPERS
==================================*/

.center {
    text-align: center;
}

// Background Colors

.navy_background {
    background: $navy;
}

// Small width bottom border

.border_line:after {
    border-bottom: 1px solid;
    width: 80px;
    content: "";
    display: block;
    margin: 0 auto 30px;
    padding-top: 30px;
}

.border_line.large:after {
    margin: 0 auto 70px;
    padding-top: 60px;

    @include mobile_landscape {
        margin: 0 auto 40px;
        padding-top: 30px;
    }
}

.border_line.no_margin_bottom:after {
    margin: 0px auto;
}

// Border line on the left

.border_line.left_border h2 {
    margin-bottom: 10px;
}

.border_line.left_border:after {
    margin: 0 0 50px;
}

// Text Container paddings. Mainly for the site origin widgets.

.text_container_padding {
    padding: 0px 40px;

    @include tablet_landscape {
        padding: 0px;
    }
}

.text_container_padding_left {
    padding-left: 80px;
    @include tablet_landscape {
        padding-left: 0px;
    }
}

.text_container_padding_right {
    padding-right: 80px;
    @include tablet_landscape {
        padding-right: 0px;
    }
}

.font_circular {
    font-family: 'circular', sans-serif;
}

// Margin

.margin_bottom_0 {
    margin-bottom: 0px;
}

.margin_bottom_50 {
    margin-bottom: 50px;
}

// Padding

.padding_top_50 {
    padding-top: 50px;
}

.padding_left_25 {
    padding-left: 25px;

    @include tablet {
        padding-left: 0px;
    }
}

/*==================================
COMPONENTS
==================================*/

/*=== Lists ===*/

ul, ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul.rainey_list {
    margin-bottom: 10px;
}

ul.rainey_list li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;

    &:before {
        content: '•';
        position: absolute;
        left: 0;
    }
}

ul.no_bullets {
    list-style-type: none;
}

ul.bullets_text_spacing li span {
    padding-left: 8px;
}

/*=== Social Icons ===*/

ul.social_icons li {
    display: inline-block;
    margin: 0px 5px;

    &:first-child {
        margin-left: 0px;
    }

    &:last-child {
        margin-right: 0px;
    }
}

ul.social_icons li a {
    transition: color .3s ease-in-out;
}

ul.social_icons li a:hover {
    color: $copper;
}

/*=== Buttons ===*/

a.underlined_link {
    text-transform: uppercase;
    font-size: 14px;
    @include circular_font;
}

.rainey_button {
    display: inline-block;
    text-decoration: none;
    padding: 15px 40px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .2em;
    border-radius: 0;
    outline: 0;
    transition: .3s all ease-in-out;
    @include circular_font;
}

.rainey_button.transparent {
    color: $navy;
    background: transparent;
    border: 1px solid $navy;

    &:hover {
        background: $navy;
        color: $cream;
    }
}

.rainey_button.navy {
    background: $navy;
    color: $cream;
    border: 1px solid $navy;

    &:hover {
        background: transparent;
        border: 1px solid $navy;
        color: $navy;
    }
}

a.navy_button, .gform_button {
    display: inline-block;
    text-decoration: none;
    font-family: circular, sans-serif;
     -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $light_cream;
    padding: 20px 40px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    border: 1px solid $navy;
    background: $navy;
    transition: .3s all ease-in-out;

    &:hover {
        background: transparent;
        color: $navy;
    }
}

.gform_button {
    padding: 20px 55px;
}

/*=== Close Icon ===*/

.close_icon {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  overflow: hidden;
  cursor: pointer;
  top: 20px;
  right: 20px;

  &:hover {
    &::before, &::after {
      background: $light_cream;
    }
  }

  &::before, &::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -3px;
    background: $light_cream;
    backface-visibility: hidden;
  }

  &::before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

}

/*=== Title ===*/

// Title Area

p.subtitle {
    max-width: 368px;
    margin: 0 auto 20px;
}

/*==================================
STRUCTURE
==================================*/

body {
    background: $cream;
}

.body-content {
    width: 80%;
    max-width: 1200px;
    margin: 50px auto;

    @include tablet_landscape {
        width: 90%;
    }
}

.body-content-small {
    width: 60%;
    max-width: 800px;
    margin: 50px auto;

    @include tablet_landscape {
        width: 90%;
    }
}

// Container

.small_container {
    width: 80%;
    margin: 0 auto;

    @include tablet {
        width: 100%;
    }
}

// Page Headers

header.page-header {
    text-align: center;
    margin-bottom: 80px;

    @include tablet_landscape {
        margin-bottom: 50px;
    }
}

.header_image img {
    width: 100%;
}

// Flexed cells and grid for site origin widgets

.flexed {
    display: flex;
    flex-flow: row wrap;
}

.flexed .panel-grid-cell, .flexed.column_1_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;

    @media all and (max-width: 780px) {
        width: 100% !important;
    }
}

// Change the order of a block whose text is on the left of an image and should be below on mobile

.left_text_move_below {
    display: flex;
    flex-flow: row wrap;
}

.left_text_move_below .panel-grid-cell:first-child, .left_text_move_below .column_1_2:first-child {
    @media all and (max-width: 780px) {
        order: 2;
        padding-top: 20px;
        margin-bottom: 0px !important
    }
}

.left_text_move_below .panel-grid-cell:last-child img, .left_text_move_below .column_1_2:last-child img {
    @media all and (max-width: 780px) {
        margin-bottom: 30px;
    }
}

// Siteorigin Style Adjustments

.panel-grid img {
    max-width: 100%;
    height: auto;
}

/*==================================
LANDING SCREEN
Only shown on homepage.
==================================*/

section.landing_screen {
    position: fixed;
    background: $navy;
    color: $light_cream;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.viewedAnimation section.landing_screen {
    display: none;
}

section.landing_screen .small_container {
    margin-top: -50px;
}

.landing_screen img {
    width: 13%;
    margin: 0 auto 50px;
    display: block;
    opacity: 0;

    @include tablet {
        width: 100px;
    }

    @include mobile_landscape {
        width: 60px;
        margin: 0 auto 20px;
    }
}

.landing_screen h1 {
    text-transform: uppercase;
    text-align: center;
    display: block;
    opacity: 0;

    @include tablet {
        font-size: 30px;
        line-height: 35px;
    }

    @include mobile_landscape {
        font-size: 20px;
        line-height: 25px;
    }
}

.landing_screen p {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;
    display: none;

    @include mobile_landscape {
        font-size: 14px;
        bottom: 60px;
    }
}

/*==================================
HOMEPAGE
==================================*/

div#pl-685 {
    margin-bottom: 50px;
}

/*==================================
RESIDENCES
==================================*/

// Align the bottom links

.residences_links {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
    text-align: center;
}

.residences_links .column_1_3 {
    width: 20%;

    @include tablet_landscape {
        width: 33.33%;
    }

    @include mobile_landscape {
        width: 100%;
        margin-bottom: 20px;
    }
}

.residences_links .column_1_3:nth-child(2) {
    width: 33%;

    @include mobile_landscape {
        width: 100%;
        order: 2;
    }
}

/*==================================
VIEWS
==================================*/

.page-template-template-views .main-content iframe {
    width: 100%;
    height: 100vh;
    border: 0;
}

/*==================================
AMENITIES
==================================*/

.small_container.amenities_slider {
    width: 60%;

    @include tablet {
        width: 100%;
    }
}

// Center bottom amenities lists

div#pg-16-5 {
    max-width: 980px;
    margin: 0 auto;
}

ul.amenities_list {
    column-count: 2;
    column-gap: 30px;
    list-style-position: inside;
    border-right: 1px solid;

    @include tablet {
        border-right: 0;
    }

    @include mobile_landscape {
        column-count: 1;
    }
}

/*==================================
INTERIOR SPECS
==================================*/

.interior_specs_columns {
    column-count: 2;
    text-align: center;
    width: 60%;
    margin: 35px auto 0px;

    span {
        margin-bottom: 20px;
    }

    @include tablet {
        width: 100%;
    }

    @include mobile_landscape {
        column-count: 1;
    }
}