/*==================================
GENERAL STRUCTURE
==================================*/

.floor_plans_container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 80px 0 35px;
  text-align: center;

  @include tablet_landscape {
      padding: 40px 0;
      height: auto;
  }

}

div#floor-plans {
  width: 80%;
  max-width: 1200px;
}

.floor_plans_container .half {
    width: 50%;
    display: flex;
    text-align: center;
    padding: 0 30px;
    flex-direction: column;
    justify-content: center;

    @include tablet_landscape {
      width: 100%;
    }
}

/*==================================
FLOOR PLANS ADJUSTMENTS
A majority of this css is in css/module.css
==================================*/

.desktop_floor_plans {
    display: block;

    @include tablet {
        display: none;
    }
}

// Top building model and table

.floor_plans_top {
    overflow: auto;
}

.download_pdf a {
    text-decoration: none;
    z-index: 999;
}

// Table

#floor-plans .module-content .selector table {
    width: 95%;
    max-width: 600px;
}

#floor-plans .module-content .selector table thead {
    display: block;
    overflow: auto;
}

#floor-plans table tbody {
    height: 400px;
    display: block;
    overflow-y: auto;
    @include scrollbar();
}

#floor-plans tr {
  width: 100%;
  display: flex;
}

#floor-plans th, #floor-plans td {
  width: 20%;
}

// Mobile Floor Plans w/ Select Dropdown

.mobile_floor_plans {
    display: none;

    @include tablet {
        display: block;
    }
}

#mobiSelect {
    background: transparent;
    border: 1px solid $navy;
    border-radius: 0;
    line-height: 20px;
    font-size: 14px;
    width: 100%;
    padding: 10px;
    z-index: 10;
    position: relative;
    appearance: none;

    &::-webkit-input-placeholder {
        color: $navy;
        font-size: 14px;
    }
}

.mobile_floor_plans_select_container {
    position: relative;
}

.mobile_floor_plans_select_container:after {
    content: "";
    position: absolute;
    right: 10px;
    background-size: cover;
    top: 16px;
    background-image: url(../img/icons/arrow-dropdown.svg);
    height: 9px;
    width: 18px;
}

// On mobile show the first floor plan automtically

#floor-plans .module-content .mobile_floor_plans .floor-plan.filter-item:first-child {
    display: block;
}

/*==================================
FLOOR PLANS LIGHTBOX
==================================*/

html.lightbox_open {
  overflow: hidden;
}

// Main lightbox

.floor-plans-lightbox {
    position: fixed;
    background: rgba($navy, .8);
    left: 0;
    bottom: 100%;
    z-index: -99;
    width: 100%;
    height: 100%;
    opacity: 0;
    padding: 0;
    transition: opacity .5s ease-in-out, z-index 0s 1s;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &.visible {
      opacity: 1;
      z-index: 990;
      bottom: 0;
      transition: opacity .5s ease-in-out;
      overflow-y: scroll;
    }
}

// Inner lightbox invisible container to close out of lightbox

.lightbox_invisible_layer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}

// Inner lightbox container

.floor-plans-lightbox .floor-plan {
    background: $cream;
    padding: 20px;
    width: 95%;
    max-height: 95%;
    position: relative;
    overflow-y: auto;
    @include scrollbar();
}

// Lightbox top content

.floor-plan.filter-item h1 {
    margin-bottom: 15px !important;
}

.floor-plan.filter-item p {
    margin-bottom: 5px;
}

#floor-plans .module-content .left, #floor-plans .module-content .right, #floor-plans .floorplan-image {
	height: 450px;
}

// Image in lightbox {

.floor-plans-lightbox .floorPlanImage {
    width: 35%;
}

// Close Icon

.lightbox_close {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  top: 20px;
  right: 20px;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    &::before, &::after {
      background: $navy;
    }
  }

  &::before, &::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: $navy;
    backface-visibility: hidden;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}