/*==================================
GENERAL STRUCTURE
==================================*/

.inquire_page_container {
    display: flex;
    flex-flow: row wrap;
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;

    @include tablet_landscape {
        height: auto;
    }
}

.inquire_content {
    width: 50%;
    padding: 80px 20px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    @include tablet_landscape {
        width: 100%;
        padding: 50px 20px 20px;
    }
}

.inquire_form_container {
    width: 50%;
    padding: 80px 0px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet_landscape {
        width: 100%;
        padding: 0px 10px 50px;
    }
}

/*==================================
GRAVITY FORMS
==================================*/

/*=== Gravity Forms Adjustments ===*/

.gform_wrapper {
    overflow-y: auto;
    @include scrollbar();

    @include tablet_landscape {
        overflow-y: visible;
    }
}

.gform_body {
    display: flex;
    flex-flow: row wrap;
}

.inquire_form_container .gform_body ul.gform_fields {
    width: 50%;
    padding: 0 0px 10px;

    @include tablet {
        width: 100%;
        padding: 0;
    }
}

.gfield input, .gform_wrapper textarea.medium, .ginput_container_select select {
    background: transparent;
    border: 1px solid $navy;
    border-radius: 0;
    line-height: 20px;
    font-size: 14px;

    &::-webkit-input-placeholder {
        color: $navy;
        font-size: 14px;
    }
}

.gform_wrapper .gform_body .no_label .gfield_label {
    display: none;
}

.gform_wrapper .gform_body .top_label label.gfield_label {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 1px;
}

body .gform_wrapper .gform_body .top_label div.ginput_container {
    margin-top: 0px !important;
}

.gf_left_half .ginput_container select, .gf_right_half .ginput_container select {
    margin-bottom: 0px !important;
}

li#field_1_16, li#field_1_17, li#field_1_18 {
   	margin-top: 17px;
}

.gform_wrapper .gform_body li.gfield.field_description_below+li.gsection {
    margin-top: 0px!important;
}

.gform_wrapper#gform_wrapper_1 .top_label input.medium, .gform_wrapper .top_label select.medium {
    width: 100% !important;
    padding: 15px;
    font-size: 14px;
    line-height: normal;
}

.inquire_form_container .gform_wrapper .gfield_required {
    color: $navy;
}

/*=== Select Dropdown ===*/

.ginput_container_select {
    position: relative;
}

.gform_body .ginput_container_select select {
    appearance: none;
    font-size: 13px;
    width: 100%;
    z-index: 10;
    position: relative;
    cursor: pointer;
}

.ginput_container_select:after {
    content: "";
    position: absolute;
    right: 10px;
    z-index: 8;
    background-size: cover;
    top: 21px;
    background-image: url(../img/icons/arrow-dropdown.svg);
    height: 6px;
    width: 12px;
}

/*=== Radio Buttons ===*/

.ginput_container.ginput_container_radio {
    margin-top: 0 !important;
    line-height: 0;
}

.gfield_radio {
    margin: 0px !important;
}

.gfield_radio li {
    display: inline-block;
    margin: 0px 10px 0px 0px !important;
}

.gform_wrapper .gform_body .gfield_radio li input[type=radio] {
    display: none;
}

.gform_wrapper .gform_body .gfield_radio li label {
    max-width: 100%;
}

.gfield_radio li input[type=radio]:checked + label:after {
    background: $navy;
}

.gfield_radio label:after {
    content: "";
    border: 1px solid;
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-left: 10px;
}

.gform_wrapper.gf_browser_chrome .gform_body {
    width: 100% !important;
}

/*=== Comment Box ===*/

.inquire_form_container .gform_wrapper textarea.medium {
    height: 114px;
    width: 100%;
}

.gform_wrapper ul.gform_fields.column_3 {
    width: 100%;
    margin: 30px 0px 0px !important;

    @include tablet {
        margin: 10px 0px 0px !important;
    }
}

/*=== Submit Button ===*/

.gform_wrapper .gform_footer.top_label {
    padding: 0;
    width: 50%;
    float: right;
    text-align: left;
    padding: 0;

    @include tablet {
        margin: 20px 0 0;
        width: 100%;
        text-align: center;
    }
}

.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit], .gform_wrapper .gform_page_footer input.button, .gform_wrapper .gform_page_footer input[type=submit] {
    font-size: 14px !important;
    -webkit-appearance: none;
    border-radius: 0;
}

/*=== Confirmation Message ===*/

div#gform_confirmation_wrapper_1 {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}