/*==================================
GENERAL STRUCTURE
==================================*/

.news_page_container {
    max-width: 800px;
    margin: 0 auto;
    width: 90%;
    padding: 150px 0 50px;

    @include tablet_landscape {
        padding: 50px 0 40px;
    }
}

/*==================================
INDIVIDUAL POST
==================================*/

header.post-header {
    text-align: center;
    margin-bottom: 50px;

    p {
        margin-bottom: 0;
    }
}

h2.subheader {
    max-width: 250px;
    line-height: 35px;
    margin: 0 auto 20px;
}

article.post {
    border-bottom: 1px solid $navy;
    padding-bottom: 50px;
    margin-bottom: 50px;

    &:last-of-type {
        border-bottom: 0;
    }
}

.post-content img {
    width: 100%;
    height: auto;
}

.featured_image {
    margin-bottom: 40px;
}

// Social Share

.news_social_icons {
    display: flex;
    align-items: center;
}

.social_icon_image {
    height: 15px;
    position: relative;
    margin: 0px 7px;
}

.social_icon_image img {
    display: block;
    height: 100%;
    width: auto;
}

.social_icon_image img.hover {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
}

.social_icon_image:hover {
    img.default {
        opacity: 0;
    }
    img.hover {
        opacity: 1;
    }
}

// Posts Navigation

.posts_navigation {
    text-align: center;

    a {
        font-family: 'circular', sans-serif;
        text-transform: uppercase;
        text-decoration: underline;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 2px;
    }
}