/*==================================
CALL TO ACTIONS
==================================*/

.residence_ctas {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.residence_ctas a {
	margin: 0 10px;

	@include tablet {
		width: 100%;
	}
}