/*==================================
GENERAL STRUCTURE
==================================*/

.views_page_container {
    padding: 80px 0 35px;
    height: 100vh;
    width: 100%;
    position: absolute;

    @include tablet_landscape {
        height: 600px;
        position: relative;
        padding: 0;
    }

    @include mobile_landscape {
        height: 350px;
        position: relative;
        padding: 0;
    }
}

/*==================================
LANDING PAGE
==================================*/

.views_landing_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center;
}

.views_landing_container h1 {
    margin-bottom: 50px;
}

/*==================================
VIEWS IFRAME
==================================*/

.views_iframe_container {
    position: absolute;
    top: 0;
    padding: 80px 0 35px;
    width: 100%;
    height: 100%;
    display: none;

    @include tablet_landscape {
        padding: 0;
    }
}

.views_iframe_container iframe {
	width: 100%;
	height: 100%;
	border: 0;
}