/*==================================
DIRECTION NAV
==================================*/

.flexslider:hover .flex-direction-nav {
    opacity: 1;
}


.flexslider .flex-direction-nav a {
    width: 23px;
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;

    @include tablet {
        display: none;
    }
}

.flexslider .flex-direction-nav a.flex-prev {
    left: 30px;
}

.flexslider .flex-direction-nav a.flex-next {
    right: 30px;
}

/*==================================
CONTROL NAV
==================================*/

.flexslider .flex-control-nav {
    bottom: 40px;
    z-index: 10;
    text-align: left;
    padding-left: 30px;

    @include tablet_landscape {
        bottom: 10px;
    }
}

.flexslider .flex-control-paging li a {
    background: transparent;
    box-shadow: none;
}

// Centered dots for text sliders

.text_slider .flex-control-nav {
    padding: 0;
    text-align: center;

    @include tablet_landscape {
        display: none;
    }
}

.synced_image_slider .flex-control-nav {
    padding: 0;
    text-align: center;
    display: none;

    @include tablet_landscape {
        display: block;
    }
}

/*==================================
COLOR SCHEMES
==================================*/

// Cream

.flexslider.cream .flex-control-paging li a {
    border: 1px solid $cream;
}

.flexslider.cream .flex-control-paging li a:hover, .flexslider.cream .flex-control-paging li a.flex-active {
    background: $cream;
}

.flexslider.cream .flex-direction-nav a.flex-prev {
    background-image: url('../img/icons/arrow-left-cream.svg');
}

.flexslider.cream .flex-direction-nav a.flex-next {
   background-image: url('../img/icons/arrow-right-cream.svg');
}

// Navy

.flexslider.navy .flex-control-paging li a {
    border: 1px solid $navy;
}

.flexslider.navy .flex-control-paging li a:hover, .flexslider.navy .flex-control-paging li a.flex-active {
    background: $navy;
}

.flexslider.navy .flex-direction-nav a.flex-prev {
    background-image: url('../img/icons/arrow-left-navy.svg');
}

.flexslider.navy .flex-direction-nav a.flex-next {
   background-image: url('../img/icons/arrow-right-navy.svg');
}

/*==================================
FULLSCREEN
==================================*/

.rainey_slider.flexslider, .synced_image_slider.flexslider, .text_slider.flexslider {
    height: 100%;
}

.rainey_slider.flexslider ul.slides, .synced_image_slider.flexslider ul.slides, .text_slider.flexslider ul.slides {
    height: 100%;
    width: 100%;
}

.rainey_slider.flexslider ul.slides li, .synced_image_slider.flexslider ul.slides li, .text_slider.flexslider ul.slides li {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: top center;
}

// Images that need to be smaller than fullscreen

.rainey_slider.fullscreen_centered img {
    max-width: 700px;
    margin: 10% auto 0;
}

/*==================================
SLIDER WITH IMAGE IN THE CENTER
==================================*/

.rainey_slider.flexslider .centered_slider_image {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        width: 60%;
    }
}

/*==================================
TEXT SLIDER
==================================*/

.text_slider h4 {
    margin-bottom: 40px;
}

.text_slider.flexslider ul.slides, .text_slider.flexslider ul.slides li, .text_slider.flexslider .centered_content_container  {
    @include tablet_landscape {
        height: 100%;
    }
}