/*==================================
MAIN FOOTER
==================================*/

footer.main_footer {
    position: fixed;
    height: 35px;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background: $navy;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $light_cream;
    padding: 0px 30px;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: .1em;

    @include tablet_landscape {
        display: none;
    }
}

.main_footer a {
    color: $light_cream;
    text-decoration: none;
    transition: color .2s ease-in-out;

    &:hover {
        color: $copper;
    }
}

/*==================================
FOOTER LEFT
==================================*/

// Sackman & Den Logos

.footer_logos {
    display: flex;
    z-index: 10;
}

.footer_logos a {
    position: relative;
    display: flex;
}

.footer_logos img {
    width: 60px;
    height: 12px;

    &:first-child {
        margin-right: 10px;
    }
}

.footer_logos img.default {
    opacity: 1;
    transition: opacity .3s ease-in-out;
}

.footer_logos img.hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.footer_logos a:hover img.default {
    opacity: 0;
}

.footer_logos a:hover img.hover {
    opacity: 1;
}

.disclaimer_text {
    font-family: 'goldenbook', serif;
}

/*==================================
NOW SELLING
==================================*/

.main_footer .footer_now_selling {
    position: absolute;
    left: 0;
    height: 100%;
    right: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_now_selling a {
    font-size: 19px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: .2em;
    @include circular_font;
}

/*==================================
FOOTER RIGHT
==================================*/

.footer_contact {
    z-index: 10;
    display: flex;
    flex-flow: row wrap;
    @include circular_font;
}

.footer_contact a:nth-child(1), .footer_contact a:nth-child(2)  {
    margin-right: 20px;
}

// Social Icons

.main_footer .social_icons a {
    margin-right: 0;
}

img.eho_logo {
    display: inline-block;
    width: 18px;
    margin-right: 10px;
}

/*==================================
MOBILE FOOTER
==================================*/

footer.mobile_footer {
    display: none;
    background: $navy;
    color: $light_cream;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    padding: 30px;

    @include tablet_landscape {
        display: block;
    }
}

.mobile_footer .footer_now_selling {
    padding: 0 0 30px;
}

.mobile_footer .footer_logos, .mobile_footer .footer_contact {
    justify-content: center;
    padding: 0 0 30px;
}

.mobile_footer .footer_contact a {
    margin: 0 10px;
}