/*==================================
MAIN HEADER
==================================*/

header.main-header {
    position: fixed;
    height: 80px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    display: flex;
    justify-content: space-between;
    padding: 12px 30px;
    background: $navy;
    transition: all .3s ease-in-out;

    @include tablet_landscape {
        display: none;
    }
}

.main-header a {
    color: $light_cream;
    display: inline-block;
    text-decoration: none;
    transition: color .2s ease-in-out;

    &:hover {
        color: $copper;
    }
}

// Logo

a.rainey_logo {
    display: block;
    width: 150px;
    padding-top: 10px;
}

// Header Reveal

.main-header.open {
    height: 110px;
}

/*==================================
MAIN NAVIGATION
==================================*/

.main-navigation li {
    text-transform: uppercase;
    display: inline-block;
    font-size: 13px;
    letter-spacing: .2em;
    line-height: 14px;
    margin-right: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include circular_font;

    @include mobile_landscape {
        font-size: 12px;
    }
}

// Active state styling for various menu items.

.main-navigation li.current-menu-item > a:after, .main-navigation li.current-menu-parent > a:after, li.menu-item-1186.current-menu-item a:after {
    content: '';
    width: 98%;
    height: 1px;
    top: 5px;
    position: relative;
    background: $light_cream;
    display: block;
}

// Inquire Button in Header

li.menu-item-1186 {
    margin-right: 0;
}

li.menu-item-1186 a {
    border: 1px solid $light_cream;
    padding: 20px 30px;
    display: inline-block;
    margin-right: 0;
    transition: all .3s ease-in-out;
}

li.menu-item-1186.current-menu-item:after {
    display: none;
}

// Sub Navigation

.main-navigation ul.sub-menu {
    position: absolute;
    max-height: 0;
    overflow: hidden;
    transition: all .3s ease-in-out;
}

.main-navigation li.menu-item-has-children:hover > ul.sub-menu {
    max-height: 80px;
    padding-top: 10px;
}

.sub-menu li {
    display: block;
    top: 10px;
    padding-bottom: 10px;
}

/*==================================
MOBILE HEADER
==================================*/

.mobile_header {
    background: $navy;
    display: flex;
    justify-content: center;
    padding: 0 30px;
    height: 70px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    display: none;

    @include tablet_landscape {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

// Logo

.mobile_header .logo {
    width: 100px;
}

// Icons

.mobile_header_icon_container {
    display: block;
    position: relative;
}

.menu_icon {
    position: relative;
    display: block;
    border-top: 1px solid $light_cream;
    border-bottom: 1px solid $light_cream;
    height: 15px;
    width: 20px;

    &:before {
        content: "";
        width: 100%;
        border-bottom: 1px solid $light_cream;
        position: absolute;
        top: 6px;
    }   
}

.mobile_header_icon_container .close_icon {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

// Change icon visibility depending on the mobile menu state

.open .menu_icon {
    opacity: 0;
}

.open .close_icon {
    opacity: 1;
}

/*==================================
MOBILE MENU
==================================*/

.mobile_menu {
    position: fixed;
    display: none;
    overflow-y: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $navy;
    z-index: 98;
    padding: 100px 30px 20px;
}

// Mobile Navigation

nav.mobile-navigation {
    margin-bottom: 80px;
}

.mobile-navigation li {
    text-transform: uppercase;
    color: $light_cream;
    font-size: 14px;
    letter-spacing: .2em;
    line-height: 14px;
    margin-bottom: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include circular_font;

    @include mobile_landscape {
        font-size: 12px;
    }
}

.mobile-navigation li.menu-item-1186 a {
    padding: 15px 20px;
}

// Active state

.mobile-navigation li a {
    position: relative;
    display: inline-block;
}

.mobile-navigation li.current-menu-item > a:after {
    content: '';
    width: 98%;
    height: 1px;
    position: relative;
    background: $light_cream;
    display: block;
}

// Mobile Sub Menu

.mobile-navigation .sub-menu li {
    padding: 15px 0 0 15px;
    margin-bottom: 0;

    &:last-child {
        padding: 15px 0 0 15px;
    }
}

// Mobile Menu Bottom

.mobile_menu_bottom {
    color: $light_cream;
    font-size: 14px;
    line-height: 14px;
}

.mobile_menu_bottom .footer_contact {
    padding: 20px 0px;
}
