/*==================================
FONT FILES
==================================*/

// Goldenbook

@font-face {
    font-family: 'goldenbook';
    src: url('../fonts/goldenbook/mark_simonson_-_goldenbooklight-webfont.woff2') format('woff2'),
         url('../fonts/goldenbook/mark_simonson_-_goldenbooklight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Circular

@font-face {
  font-family: 'circular';
  src: url('../fonts/circular/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/circular/CircularStd-Medium.otf')  format('opentype'),
	     url('../fonts/circular/CircularStd-Medium.woff') format('woff'), url('../fonts/circular/CircularStd-Medium.ttf')  format('truetype'), url('../fonts/circular/CircularStd-Medium.svg#CircularStd-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Garamond

@font-face {
    font-family: 'garamond';
    src: url('../fonts/garamond/cormorantgaramond-italic-webfont.woff2') format('woff2'),
         url('../fonts/garamond/cormorantgaramond-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*==================================
FONTS
==================================*/

body, p {
    font-family: "goldenbook", serif;  
    font-size: 18px; 
    line-height: 23px;
    color: $navy;

    @include mobile {
        font-size: 16px;
        line-height: 23px;
    }
}

p.small {
    font-size: 14px;
    line-height: 16px;
}

h1 {
    font-family: "goldenbook", serif;
    font-weight: normal;
    // font-size: 36px;
    // line-height: 42px;
    font-size: 30px;
    line-height: 35px;

    @include mobile_landscape {
        font-size: 30px;
        line-height: 35px;
    }

    @include mobile_landscape {
        font-size: 25px;
        line-height: 30px;
    }
}

h2 {
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
}

h3 {
    font-weight: 500;
    font-size: 25px;
    line-height: 25px;
}

h4 {
    font-family: 'circular', sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
}

p, h1, h2, h3, h4 {
    margin: 0px 0px 20px;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        color: $copper;
    }
}

a.no_underline {
    text-decoration: none;

    &:hover, &.underline {
        text-decoration: underline;
    }
}

// Italics

em, i {
    font-family: 'garamond', serif;
    font-size: 18px;
}

.centered_content em, .centered_content i {
    margin-right: 3px;
}
