/*==================================
GRID
==================================*/

.rainey_row {
    display: flex;
    flex-flow: row wrap;
    width: auto;
    margin: 0px -20px 50px;
}

.column_1_2 {
    width: 50%;
    position: relative;
    margin: 0px 0px 15px;
    padding: 0px 20px;
    float: left;
    display: inline-block;

    @include tablet {
        width: 100%;
    }

    img {
        display: block;
        width: 100%;
        height: auto;
    }
}