/*================
FONTS
================*/

@mixin circular_font() {
	font-family: 'circular', sans-serif;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*================
MEDIA QUERIES
================*/

@mixin mobile() {
	@media all and (max-width: 480px){
		@content;
	}
}

@mixin mobile_landscape() {
	@media all and (max-width: 568px) {
		@content;
	}
}

@mixin tablet() {
	@media all and (max-width: 768px){
		@content;
	}
}

@mixin tablet_landscape() {
	@media all and (max-width: 1024px){
		@content;
	}
}

@mixin large_desktop() {
	@media all and (min-width: 1400px){
		@content;
	}
}

/*================
OVERLAY
================*/

@mixin overlay($background) {
  content: "";
  position: absolute;
  background: $background;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

/*================
SCROLLBAR
================*/

@mixin scrollbar() {
	&::-webkit-scrollbar {
	    width: 5px;
	}
	 
	&::-webkit-scrollbar-track {
	    background: rgba(255,255,255,.2); 
	}
	 
	&::-webkit-scrollbar-thumb {
	    background: $navy;  
	}
}