/*==================================
MAIN CONTENT
Holds content for each page.
==================================*/

.main-content {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    @include tablet_landscape {
        padding-top: 70px;
    }
}

.main-content.loaded {
    opacity: 1;
}

/*==================================
FULLPAGE SECTIONS
==================================*/

.section.with_content {
	padding-top: 150px;

    @include tablet_landscape {
        padding: 50px 0px;
    }
}

/*==================================
NAVIGATION ARROW
==================================*/

.fullpage_nav_arrow {
    position: absolute;
    bottom: 45px;
    left: 50%;
    width: 34px;
    margin-left: -17px;
    cursor: pointer;

    @include tablet_landscape {
        display: none;
    }
}

.fullpage_nav_arrow img {
	transition: opacity .3s ease-in-out;
}

.fullpage_nav_arrow.hide {
	opacity: 0;
}

.fullpage_nav_arrow .down_arrow_navy {
	position: absolute;
	top: 0;
    left: 0;
    width: 100%;
}

.fullpage_nav_arrow.cream {
	img.down_arrow_cream {
		opacity: 1;
	}
	img.down_arrow_navy {
		opacity: 0;
	}
}

.fullpage_nav_arrow.navy {
	img.down_arrow_cream {
		opacity: 0;
	}
	img.down_arrow_navy {
		opacity: 1;
	}
}

/*==================================
BOXED CONTENT
==================================*/

.boxed_content {
    border: 1px solid $navy;
    max-width: 1024px;
    width: 90%;
    height: 65%;
    overflow-y: auto;
    margin: 0 auto;
    padding: 50px 100px;
    text-align: center;
    @include scrollbar();

    @include tablet_landscape {
        height: auto;
        padding: 30px 20px;
    }
}

// Left align row content

.boxed_content .rainey_row {
	text-align: left;
    margin-bottom: 0;
}

/*==================================
FULLSCREEN IMAGE
==================================*/

.fullscreen_image {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: relative;
    background-position: center;
}

.fullscreen_halves .half.with_fullscreen_images, .with_fullscreen_images {
    @include tablet_landscape {
        height: 500px;
    }
    @include mobile_landscape {
        height: 300px;
    }
}

/*==================================
IMAGE CAPTIONS
==================================*/

span.image_caption {
    position: absolute;
    right: 30px;
    bottom: 45px;
    max-width: 400px;
    text-align: right;
    color: $light_cream;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .04em;
    @include circular_font;

    @include tablet_landscape {
        bottom: 10px;
    }

    @include mobile {
        display: none;
    }
}

.navy_caption span.image_caption {
    color: $navy;
}

/*==================================
FULLSCREEN HALF & HALF
==================================*/

.fullscreen_halves {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
}

.fullscreen_halves .half {
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: center;

    @include tablet_landscape {
        height: auto;
        width: 100%;
    }
}

// Change order on mobile

.fullscreen_halves.switch_order_mobile .half:first-child {
    @include tablet_landscape {
        order: 1;
    }
}

/*==================================
CENTERED CONTENT
==================================*/

.centered_content_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 80px 0 35px;
    text-align: center;

    @include tablet_landscape {
        padding: 40px 0;
    }
}

.centered_content, .centered_video_content {
    max-height: 95%;
    max-width: 950px;
    padding: 0 10px;
    width: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    @include scrollbar();

    @include tablet_landscape {
        max-height: none;
        padding: 0;
        overflow-y: visible;
    }
}

.centered_content.boxed {
    border: 1px solid $navy;
    max-width: 1200px;
    width: 90%;
    padding: 20px 50px;
    min-height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include tablet_landscape {
        padding: 20px 20px;
        display: block;
        min-height: initial;
    }
}

.centered_content.boxed h4 {
    margin: 0 0 5px;
}

.centered_content p:last-child, .centered_content .column_1_2 {
    margin-bottom: 0;
}

// Left align row content

.boxed .rainey_row {
    text-align: left;
    margin-bottom: 0;
}

// Video embed in centered content

.centered_video_content h1.border_line:after {
    padding-top: 20px;
}

.centered_video {
    max-width: 800px;
    width: 90%;
    margin: 0 auto;

    @media all and (max-width: 1280px) {
        width: 85%;
    }

    @include tablet_landscape {
        width: 100%;
    }
}

.centered_video .video_embed {
    width: 100%;
}

/*==================================
CENTERED IMAGE
==================================*/

.centered_image_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    padding: 80px 0 35px;
    width: 70%;
    margin: 0 auto;
    text-align: center;

    img {
        width: 100%;
    }
}