/*================
COLORS
================*/

// Neutrals

$white: #FFFFFF;
$black: #000000;

// Greys

$textgrey: #2C2C2C;

// Vibrants

$navy: #00253C;
$cream: #EBE1D8;
$light_cream: #EBDED4;
$copper: #92624B;